.button {
  background-color: $primary;
  color: $white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  padding: 10px 25px;
  height: 40px;
  border: none;
  border-radius: 999px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $primary-hover;
  }

  &:focus {
    outline: none;
  }
}
